apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: carlosgroup-rbac
rules:
- apiGroups: [""]
  resources: ["pods", "services"]
  verbs: ["create", "get", "update", "list", "delete", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["create", "get", "update", "list", "delete", "watch"]